In [2]:
import numpy as np
import pandas as pd

Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
arr = pd.Series([1,2,3,4])
print(arr)

0    1
1    2
2    3
3    4
dtype: int64

Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [4]:
l = list(arr)
print(type(l))

<class 'list'>

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [5]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print(s1+s2)
print(s1 - s2)
print(s1 * s2)
print(s1 / s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [6]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])
print(s1 == s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s1 = pd.Series(d)
print(s1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

Write a Pandas program to convert a NumPy array to a Pandas series.

Sample Series: 
  NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
arr = np.array([10,20,30,40,50])
s1 = pd.Series(arr)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Write a Pandas program to change the data type of given a column or a Series.

Sample Series: 
    Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
s1 = pd.Series([100, 200, 'python',300.12, 400])
print(pd.to_numeric(s1, errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Write a Pandas program to convert the first column of a DataFrame as a Series.

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
df = pd.DataFrame({
    "Col1": [1,2,3,4,7,11],
    "Col2": [4,5,6,9,5,0],
    "Col3": [7,5,8,12,1,11]
})
print(df.iloc[:,0])

0     1
1     2
2     3
3     4
4     7
5    11
Name: Col1, dtype: int64

Write a Pandas program to convert a given Series to an array.

Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [11]:
s = pd.Series([100, 200, 'python',300.12, 400])
arr = np.array(s)
# arr = s.values
print(type(arr))

<class 'numpy.ndarray'>

Write a Pandas program to convert Series of lists to one Series.

Sample Output: 
Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [12]:
s = pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
temp = s.apply(pd.Series).stack().reset_index(drop=True)
print(temp)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to sort a given Series.
Sample Output:
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [13]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = s.sort_values()
print(new_s)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

Write a Pandas program to add some data to an existing Series.
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [14]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.concat([s,pd.Series(['500', 'php'])], ignore_index=True)
print("Data Series after adding some data:")
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

Write a Pandas program to create a subset of a given series based on value and condition.
Sample Output:
Original Data Series:
0      0
1      1
2      2

....

9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [15]:
s = pd.Series([0,1,2,3,4,6,7,8,9,10,5])
print("Original data Series: ")
print(s)
new_s = s[s<6]
print("Subset of the above Data Series: ")
print(new_s)

Original data Series:
0      0
1      1
2      2
3      3
4      4
5      6
6      7
7      8
8      9
9     10
10     5
dtype: int64
Subset of the above Data Series:
0     0
1     1
2     2
3     3
4     4
10    5
dtype: int64

Write a Pandas program to change the order of index of a given series.

Sample Output:
Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [16]:
s = pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
print(s)
s = s.reindex(index=['B','A','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64
B    2
A    1
C    3
D    4
E    5
dtype: int64

Write a Pandas program to create the mean and standard deviation of the data of a given Series.

Sample Output:
Original Data Series:
0     1
1     2
2     3
....
7     8
8     9
9     5
10    3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

In [18]:
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s.mean())
print(s.std())

4.818181818181818
2.522624895547565

Write a Pandas program to get the items of a given series not present in another given series.

Sample Output:  
Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [24]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
s3 = s1[~s1.isin(s2)]
print(s3)

0    1
2    3
4    5
dtype: int64

Write a Pandas program to get the items which are not common of two given series.

Sample Output: 
Original Series:
sr1: 
0    1 
1    2 
2    3 
3    4 
4    5
dtype: int64
sr2:
0     2
1     4 
2     6 
3     8
4    10 
dtype: int64 

Items of a given series not present in another given series: 
0     1 
2     3 
4     5 
5     6 
6     8
7    10 
dtype: int64

In [37]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])

# s3 = pd.concat([s1[~s1.isin(s2)], s2[~s2.isin(s1)]])
s3 = pd.Series(np.union1d(s1, s2))
s4 = pd.Series(np.intersect1d(s1,s2))
s5 = s3[~s3.isin(s4)]
print(s5)

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

Sample Output:
Original Series:
0      3.000938
1     11.370722
2     14.612143

....

17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [45]:
num_state = np.random.RandomState(50)
num_series = pd.Series(num_state.normal(10,4,20))
print("Minimum, 25th percentile, median, 75th, and maximum of a given series:")
per_series = np.percentile(num_series, q=[0, 25,50,75,100])
print(per_series)

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.75859157  6.66106629 10.18577731 13.57435161 23.25630138]

Write a Pandas program to calculate the frequency counts of each unique value of a given series.

Sample Output:
Original Series:
0     1
1     7
2     1
3     6
...
37    0
38    4
39    8
dtype: object
Frequency of each unique value of the said series.
0    9
2    7
9    6
....
3    2
4    1
5    1
dtype: int64

In [51]:
s = pd.Series(np.take(list("1234567890"), np.random.randint(10,size=40)))
new_s = s.value_counts()
print(new_s)

1    6
3    6
9    5
6    5
4    4
7    4
2    3
8    3
5    2
0    2
Name: count, dtype: int64

Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

Sample Output:
Original Series:
0     3
1     1
2     1
3     3
...
12    2
13    3
14    3
dtype: int64
Top 2 Freq: 2    6
3    5
1    4
dtype: int64
0     Other
1     Other
2     Other
3     Other
...
11        2
12        2
13    Other
14    Other
dtype: object

In [75]:
s = pd.Series(np.random.randint(1, 5, [15]))
# cs = pd.Series()
s[~s.isin(s.value_counts().index[:1])] = 'other'
print(s)

0     other
1         1
2         1
3         1
4         1
5     other
6     other
7     other
8         1
9     other
10        1
11    other
12        1
13    other
14    other
dtype: object

Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64
Positions of numbers that are multiples of 5:
[]

In [80]:
s = pd.Series(np.random.randint(1,50,size=15))
new_s = s[s%5==0]
print(new_s)

2     40
14    45
dtype: int64

Write a Pandas program to extract items at given positions of a given series.
Sample Output:  
Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
...
19    0
20    2 
21    3
dtype: object

Extract items at given positions of the said series: 
0     2
2     9
6     8
11    0
21    3
dtype: object

In [88]:
s = pd.Series(np.random.randint(1,10,size=15))
temp = [0,4,7,8,1]
print(s)
new_series = s.take(temp)
print(new_series)

0     4
1     5
2     6
3     7
4     8
5     6
6     1
7     8
8     5
9     2
10    1
11    1
12    9
13    3
14    7
dtype: int64
0    4
4    8
7    8
8    5
1    5
dtype: int64

Write a Pandas program to get the positions of items of a given series in another given series.

Sample Output:  
Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [96]:
s = pd.Series([1,2,3,4,5,6,7,8,9,10])
ind = [0,2,4,6,9]
print(s)
new_s = pd.Series([s.loc[i] for i in ind])
print(new_s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64

Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

Sample Output:
Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [107]:
s = pd.Series(["php","python","java","c#"])
s = s.map(lambda x: x[0].upper()+x[1:-1]+x[-1].upper())
print(s)

0       php
1    python
2      java
3        c#
dtype: object

Write a Pandas program to calculate the number of characters in each word in a given series.

Sample Output: 
Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

In [113]:
s = pd.Series(["php","python","java","c#"])
# s = s.map(lambda x: len(x))
new_s = pd.Series([len(x) for x in s])
print(new_s)

0    3
1    6
2    4
3    2
dtype: int64